doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title="Test Page"
        link(href="/css/main.css" rel="stylesheet")
        script(src="/js/main.js" type="application/javascript" defer)
        link(href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
        script(src="/lib/bootstrap/dist/js/bootstrap.min.js" type="application/javascript")
        script(src="/lib/jquery/dist/jquery.min.js" type="application/javascript")
    body(class="content")
        h1="Hello, World!"
        div(class="row")
            div(class="col-md-6")
                a(href="http://www.google.co.uk/" class="link google-link")="Click me!"
            div(class="col-md-6")
                a(href="http://www.andrew-havis.co.uk/" class="link my-website-link")="Click me too!"
        div(class="row")
            div(class="col-md-4 col-left")
                p="This is a left column!"
                div(class="square")
            div(class="col-md-4 col-middle")
                p="This is a middle column!"
                div(class="circle")
            div(class="col-md-4 col-right")
                p="This is a right column!"
                div(class="doughnut")
