doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title="Test Page"

        // Import CSS, and JavaScript via RequireJS
        link(href="/css/main.css" rel="stylesheet")
        script(data-main="/js/main" src="/lib/requirejs/require.js" type="application/javascript")

        // Import Bootstrap CSS
        link(href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")

    body(class="content")

        // Title
        h1="Hello, World!"

        // Content
        div(class="row")
            div(class="col-md-6")
                a(href="http://www.google.co.uk/" class="link google-link")="Click me!"
            div(class="col-md-6")
                a(href="http://www.andrew-havis.co.uk/" class="link my-website-link")="Click me too!"
        div(class="row")
            div(class="col-md-4 col-left")
                p="This is a left column!"
                div(class="square")
            div(class="col-md-4 col-middle")
                p="This is a middle column!"
                div(class="circle")
            div(class="col-md-4 col-right")
                p="This is a right column!"
                div(class="doughnut")
